---
import { fetchIslandData } from "src/ui/islands/island-data";
import Document from "./_document.astro";
import { CatalogViewIsland } from "src/islands/catalog/catalog-view.island";

await fetchIslandData(CatalogViewIsland);

---

<Document>
	<main>
		<CatalogViewIsland />
	</main>
</Document>
